{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход | Map Trainer</title>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

<div class="auth-container">
    <div class="auth-card">

        <h2 class="auth-title">Вход</h2>

        <form method="post" class="auth-form">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn-auth">
                Войти
            </button>
        </form>

        <div class="auth-links">
            <a href="/accounts/password_reset/">
                Забыли пароль?
            </a>
        </div>

    </div>
</div>

</body>
</html>